.headerText {
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

.buttonsCell {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.trashIconBox,
.editIconBox {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.trashIconBox:hover {
    background-color: rgba(255, 255, 255, 0.665);
}
.editIconBox:hover {
    background-color: rgba(255, 255, 255, 0.665);
}

.trashIcon,
.editIcon {
    width: 24px !important;
    height: 24px !important;
    color: black;
}

.notFoundContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beforeTableElement {
    height: 16px;
    width: 100%;
}

.imageRoot {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin-right: 8px;
}

.cellRoot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notFoundContainer {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
