.modal__inner_paper {
    width: 100% !important;
    max-width: 650px !important;
    margin: 0 !important;
    min-height: calc(100% - 3.5rem) !important;
    background-color: none !important;
    border: none !important;
    padding: 1rem !important;
    min-height: 0 !important;
    height: unset;
    overflow-y: auto;
    background: #26272a !important;
}

.modal__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: none !important;
}

.modal__content--top {
    width: 100%;
    position: relative;
}

.modal__content--bottom {
    width: 100%;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #48494c;
}

.modal__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0rem 4rem;
}

.modal__close {
    position: absolute;
    top: 27px;
    right: 30px;
    cursor: pointer;
}

.modal__text {
    font-size: 1.5rem;
    font-weight: 500;
}

.modal__input {
    background: #353639;
    padding: 1.1rem 2rem;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    margin-top: 1.5rem;
}

.modal__input::placeholder {
    color: #a3a5a8;
}

.modal__button {
    width: 100%;
    margin-top: 2rem;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    padding: 1.2rem;
    background: #1868b7;
}

.modal__button:hover {
    background: #0c5093;
}

.modal__button.confirm {
    background: #44b044;
}

.modal__button.confirm:hover {
    background: #346736;
}

.modal__buttons {
    width: 100%;
    margin-top: 3rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.button__default {
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 1.3rem 2rem;
    border-radius: 8px;
    background: #1868b7;
}

.button__default:hover {
    background: #104f8f;
}

.button__default.delete {
    background: #cc5554;
}

.button__default.delete:hover {
    background: #9b3d3d;
}

.button__default.half {
    width: 48.5%;
}

.modal__info {
    width: 100%;
    border-radius: 5px;
    margin-top: 1.5rem;
    border: 1px solid #fff;
    padding: 1rem;
}

.modal__info--block {
    font-size: 1.8rem;
    color: #fff;
    max-height: 150px;
    overflow-y: auto;
    line-height: 1.3;
}

.whitelist_form {
    width: 100%;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .modal__inner {
        max-width: 90%;
    }

    .modal__title {
        font-size: 1.8rem;
    }
}
@media (max-width: 480px) {
    .modal__content--bottom {
        padding: 0.5rem 1rem 1.5rem 1rem;
    }

    .modal__content--top {
        padding: 1.5rem 2rem;
    }

    .modal__close {
        right: 15px;
        top: 15px;
    }

    .modal__title {
        padding: 0rem 2.5rem;
    }

    .button__default.half {
        width: 100%;
    }
}
