.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem 0;
    background: #151817;
    z-index: 101;
}

.header__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    width: 40px;
    display: flex;
}

.header__logo--img{
    width: 100%;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__nav--link{
    color: #fff;
    margin-right: 2.5rem;
}

.header__nav--link:last-child{
    margin-right: 0;
}

.header__nav--link:hover{
    color: #999;
}

.header__wallet--inner{
    display: flex;
    align-items: center;
}

.header__wallet--button{
    display: flex;
    margin-right: 1.5rem;
    width: 30px;
    padding: 0;
}

.header__wallet--icon{
    width: 100%;
}

.header__wallet--button:last-child{
    margin-right: 0;
}

.menu{
    display: none;
    cursor: pointer;
}

@media(max-width: 768px){
    .header__nav--link{
        margin-right: 2rem;
        font-size: 1.6rem;
    }

    .menu{
        display: flex;
    }

    .header__wallet--inner, .header__nav{
        display: none;
    }

    .header__logo{
        width: 30px;
    }
}