.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #151817;
    z-index: 101;
}

.header.admin{
    padding: 0;
}

.header__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.header__logo{
    width: 132px;
    display: flex;
    flex-shrink: 0;
}

.header__logo--img{
    width: 100%;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__nav--link{
    color: #fff;
    font-weight: 600;
}

.header__nav--link:hover, .header__admin--nav--link:hover{
    color: #999;
}

.header__wallet--inner{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
}

.header__wallet--button{
    display: flex;
    width: 30px;
    padding: 0;
}

.header__wallet--icon{
    width: 100%;
}

.header__search--inner{
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.header__search{
    width: 100%;
    padding: 0.8rem 1.2rem 0.8rem 3.4rem;
    border-radius: 5px;
    background: #292c2c;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
}

.header__search--icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.menu__inner{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    display: none;
    cursor: pointer;
}

.menu{
    max-width: 100%;
    max-height: 100%;
}

.header__admin--nav{
    margin-right: 5rem;
}

.header__admin--nav--link{
    padding: 1.6rem 0;
    font-weight: 600;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.header__admin--nav--link:hover .header__admin--nav--drop{
    opacity: 1;
    pointer-events: all;
}

.header__admin--nav--drop{
    width: 178px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background: #212222;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: .2s linear;
    padding: 1rem 0;
}

.header__admin--nav--drop--link{
    width: 100%;
    color: #fff;
    padding: 1rem 1.7rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__admin--nav--drop--link:hover{
    background: rgba(255, 255, 255, .05);
}

@media(max-width: 768px){
    .header__nav--link{
        margin-right: 2rem;
        font-size: 1.6rem;
    }

    .menu__inner{
        display: flex;
    }

    .header__nav{
        display: none;
    }

    .header__wallet--button:nth-child(2){
        margin-right: 1.5rem;
    }

    .header.admin{
        padding: 1.5rem 0;
    }
}