.CustomSelect_root {
    border-radius: 5px !important;
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    background: #292c2c !important;
    padding: 1.05rem 1.5rem !important;
    min-height: 0 !important;
    transition: .2s linear;
    font-family: "Checkbrand", sans-serif;
}
.CustomSelect_root:hover {
    background: #1d1f1f !important;
}
.CustomSelect_root:focus {
    background: #292c2c !important;
}

.MuiOutlinedInput-notchedOutline {
    border: none !important;
}
.CustomSelect_paper {
    border-radius: 5px !important;
    background: #313232 !important;
    margin-top: 8px;
}

.CustomSelect_list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 5px !important;
    max-height: 300px;
    overflow-y: auto;
    background: #292c2c;
}
.CustomSelect_list li {
    font-weight: 200;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    font-family: "Checkbrand", sans-serif;
}

.CustomSelect_list li:hover {
    background: rgba(0, 0, 0, .2);
}
.CustomSelect_list li.Mui-selected {
    background: rgba(0, 0, 0, .2)!important;
}

.CustomSelect_root_label {
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 500;
    margin-top: -3px;
    opacity: 1;
    transition: opacity 250ms ease;
}

.CustomSelect_root_label_shrink {
    opacity: 0 !important;
}

.CustomSelect_root_label_focused {
    border: none !important;
}

.CustomSelect_root_icon {
    width: 24px !important;
    height: 24px !important;
    color: #fff !important;
    margin-top: -5px;
    transition: all ease-in-out 250ms;
}
