:root{
	font-size: 10px;
}

@font-face{
    font-family: 'Gilroy';
    font-weight: 100;
    src: url('./assets/fonts/gilroyThin.ttf');
}

@font-face{
    font-family: 'Gilroy';
    font-weight: 200;
    src: url('./assets/fonts/gilroyUltralight.ttf');
}

@font-face{
    font-family: 'Gilroy';
    font-weight: 300;
    src: url('./assets/fonts/gilroyThin.ttf');
}

@font-face{
    font-family: 'Gilroy';
    font-weight: 400;
    src: url('./assets/fonts/gilroyRegular.ttf');
}

@font-face{
    font-family: 'Gilroy';
    font-weight: 500;
    src: url('./assets/fonts/gilroyMedium.ttf');
}

@font-face{
    font-family: 'Gilroy';
    font-weight: 600;
    src: url('./assets/fonts/gilroySemibold.ttf');
}

@font-face{
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('./assets/fonts/gilroyBold.ttf');
}

@font-face{
    font-family: 'Gilroy';
    font-weight: 900;
    src: url('./assets/fonts/gilroyBlack.ttf');
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
	font-family: 'Gilroy', sans-serif;
	background: #101010;
	margin-top: 7rem;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input, textarea{
	transition: .2s linear;
	font-size: 1.6rem;
	font-family: 'Gilroy', sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button, .input{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.default__hover:hover{
    background: rgba(255, 255, 255, .2);
}

.input{
	cursor: text;
}

.input::placeholder{
	color: #000;
}

.input:focus::placeholder{
	opacity: 0;	
}

.container{
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}

.default__padding{
	padding: 5rem 0;
}

.title{
	width: 100%;
    color: #e5e8eb;
    text-align: center;
    font-weight: 600;
    font-size: 4rem;
}

.bold{
	font-weight: 600;
}

.main__bg{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	max-height: 100%;
	width: 100%;
}

.posr{
	position: relative;
}

.subtitle, .subtext, .text{
    text-align: center;
    color: #fff;
    font-size: 2.6rem;
    width: 100%;
    margin-top: 2.5rem;
    font-weight: 600;
}

.subtext{
    font-size: 2.1rem;
}

.text{
    font-size: 1.8rem;
    font-weight: 400;
}

.left{
    text-align: left;
}

.m0{
    margin-top: 0;
}

.file{
	display: none;
}

.stats__chart{
	width: 100%;
}

/* Адаптив */
@media(max-width: 1260px){
	.container{
		max-width: 1180px;
	}
}
@media(max-width: 1200px){
	.container{
		max-width: 978px;
	}
}
@media(max-width: 998px){
	.container{
		max-width: 748px;
	}
}
@media(max-width: 768px){
	.container{
		max-width: 90%;
	}

	.default__padding{
		padding: 3rem 0;
	}
	
	.title{
		font-size: 3rem;
	}

	body{
		margin-top: 6rem;
	}

	.subtitle, .subtext, .text{
        font-size: 2.2rem;
        margin-top: 2rem;
    }
    
    .subtext{
        font-size: 1.8rem;
    }
    
    .text{
        font-size: 1.6rem;
    }

    .m0{
        margin-top: 0;
    }
}
@media(max-width: 480px){
	.title{
		font-size: 2.5rem;
	}
}