.control__inner,
.control__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control__wrapper {
    margin-top: 2.5rem;
}

.control__wrapper:first-child {
    margin-top: 0;
}

.control__text,
.control__subtext {
    font-size: 1.4rem;
    color: #fff;
}

.control__subtext {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.control__item {
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
    transition: 0.2s linear;
}

.control__item.loading {
    opacity: 0.7;
    pointer-events: none;
}

.control__input {
    padding: 1.5rem 1.3rem;
    border-radius: 7px;
    background: #313232;
    color: #fff;
    font-size: 1.7rem;
    width: 100%;
}

.control__input::placeholder {
    color: #b6b8ba;
}

.control__item--confirm {
    min-width: 105px;
    flex-shrink: 0;
    background: #313232;
    border-radius: 5px;
    color: #fff;
    font-size: 1.7rem;
    position: relative;
}

.control__item--confirm.delete {
    color: #c94750;
}

.control__item--confirm.save {
    color: #2081e2;
}

.control__item--settings {
    margin: 0rem 2rem;
    flex-shrink: 0;
    background: #313232;
    width: 76px;
    border-radius: 5px;
    padding: 1.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.control__item--settings--icon {
    width: 26px;
}

.control__button--confirm {
    position: absolute;
    text-align: center;
    background: #3d3e3f;
    border-radius: 5px;
    color: #2081e2;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 1.3rem 3rem;
    min-width: 130px;
    left: 50%;
    top: 50%;
    cursor: pointer;
    transition: 0.2s linear;
    z-index: 50;
}

.control__button--confirm:hover {
    background: #2e2f30;
}

.control__add {
    margin-top: 1.5rem;
    border-radius: 6px;
    border: 1px solid #182f46;
    background: #5a5c5d;
    color: #fff;
    font-size: 1.7rem;
    padding: 1.4rem 2.7rem;
}

.UserRow_loader_container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserRow_loader {
    width: 36px !important;
    min-width: 36px;
    height: 36px !important;
    min-height: 36px;
    margin: 0;
}

@media (max-width: 768px) {
    .control__input {
        font-size: 1.6rem;
    }

    .control__item--settings {
        margin: 0rem 1rem;
    }

    .control__item {
        flex-wrap: wrap;
    }

    .control__item--settings {
        margin: 1rem 1rem 0rem 0rem;
    }

    .control__item--confirm {
        margin: 1rem 0rem 0rem 0rem;
    }
}
@media (max-width: 480px) {
    .control__input {
        font-size: 1.4rem;
    }
}
